.footer{
      background-color: rgb(44, 44, 44);

}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer-icon {
  color: white;
  height: 75px;
  width: 75px;
  object-fit: cover;
  filter: invert();
}
