.navbar {
  background-color: rgb(44, 44, 44);
  width: 100%;
  height: 80px;
  top: 0;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navbar-avatar {
  border-radius: 50%;
}

.navbar-tabs {
  display: flex;
  gap: 20px;
}

.navbar-links {
  margin-top: 10px;
}

.navbar-links .ant-tabs .ant-tabs-nav,
.ant-tabs-nav::before,
.ant-tabs-tab::after,
.ant-tabs-nav-wrap {
  border-bottom: none !important;
}

.scroll-bar{
  margin-top: -17px;
}
